.backdrop {
  display: none;
  position: fixed;
  width: 100%;
  background-color: rgba(255,255,255,0.7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
}

.global-loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.display-block {
  display: block;
}
