.search-wrapper {
  height: 100px;
  overflow: hidden;
  margin-bottom: 20px;
}

.search-pokemon-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: calc(100% - 21px);
  overflow-y: auto;
  user-select: none;
}

.search-pokemon {
  text-transform: capitalize;
}

.search-pokemon:hover {
  cursor: pointer;
}

.search-pikachu-running-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 21px);
  user-select: none;
  position: relative;
}

.search-pikachu-running {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 25%;
  height: 50%;
}
