.search-wrapper {
  height: 100px;
  overflow: hidden;
}

.search-pokemon-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: calc(100% - 21px);
  overflow-y: auto;
  user-select: none;
}

.search-pokemon {
  text-transform: capitalize;
}

.search-pokemon:hover {
  cursor: pointer;
}
